name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:


permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository (with credentials)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true  

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: Nishkal08
          outputs: dist/github-contribution-grid-snake.svg
          color_snake: "#00FFFF"
          color_dots: "#161B22,#58A6FF,#1F6FEB,#79C0FF,#FFFFFF"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push snake animation to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
